{
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "semi": false,
  "printWidth": 120,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 150
      }
    }
  ]
}
