@import '~common/styles/variables';

.todo-item {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
  cursor: pointer;
  border-bottom: solid 1px $color-accent-dim;

  &__card {
    display: flex;
    align-items: center;
    width: 80%;
    height: 64px;
    word-wrap: break-word;
  }

  &__edit-input {
    width: 100%;
    margin-top: 2px;
    margin-left: 34px;
  }

  &__edit-input::selection {
    color: $color-white;
    background-color: $color-accent;
  }

  &__task {
    display: inline-block;
    width: 90%;
    padding-top: 4px;
    margin-left: 8px;
  }

  &__task::selection {
    color: $color-white;
    background-color: $color-accent;
  }

  &__goal-ico {
    margin-left: 16px;
  }

  &__delete-ico {
    margin-right: 2px;
  }

  &__goal-ico,
  &__edit-ico,
  &__delete-ico {
    visibility: hidden;
    opacity: 0;
  }

  &__goal-ico:hover,
  &__edit-ico:hover,
  &__delete-ico:hover {
    transform: scale(1.15);
  }
}

.todo-item:hover .todo-item__goal-ico,
.todo-item:hover .todo-item__edit-ico,
.todo-item:hover .todo-item__delete-ico {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

input[type='checkbox'] {
  position: relative;
  width: 26px;
  height: 24px;
  cursor: pointer;
  background-image: url('~images/undone-ico.svg');
  background-repeat: no-repeat;
  appearance: none;

  &:checked {
    opacity: 0.5;
  }

  &:checked + .todo-item__task {
    color: $color-primary-dim;
    text-decoration: line-through;
  }

  &:checked::before {
    position: absolute;
    width: 26px;
    height: 24px;
    cursor: pointer;
    content: '';
    background-image: url('~images/done-ico.svg');
    background-repeat: no-repeat;
  }
}
