@import './variables';
@import './fonts';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:not(svg *) {
  all: unset;
  display: revert;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-family: JosefinSans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  color: $color-primary;
  background-image: url('~images/bg.png');
  background-repeat: no-repeat;
  background-position: 30%;
  background-size: contain;
}

.container {
  max-width: $container-width;
  padding: 0 5px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(14, $grid-culumn-width);
  gap: $grid-gap;
}
