$color-primary: #454545;
$color-primary-dim: rgba(#454545, 0.5);
$color-accent: #6a796f;
$color-accent-dim: rgba(#6a796f, 0.5);
$color-white: #fff;
$grid-culumn-width: 101.25px;
$grid-gap: 20px;
$container-width: 1580px;
