@import '~common/styles/variables';

.navigation {
  grid-column: 5 / span 3;
  padding-right: 70px;
  text-align: right;
  user-select: none;

  &__link {
    display: inline-block;
    font-size: 48px;
    font-weight: 100;
    line-height: 1;
    color: $color-accent-dim;
    text-transform: uppercase;

    &:hover {
      color: $color-accent;
    }

    &--active {
      margin-bottom: 50px;
      color: $color-accent;
      border-bottom: solid 1px;
    }
  }

  &__item:not(:first-child) &__link--active {
    margin-top: 50px;
  }
}
